---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="text-center m-auto">
    <p class="text-5xl RainbowFleshNBP">404</p>
    <p class="center text-7xl font-bold Chicago">Into the VOID</p>
    <button class="btn mt-12">
      <a href="/">Back to Future!</a>
    </button>
  </div>
</Layout>
