---
import Layout from "../layouts/Layout.astro";
import RainbowText from "../components/RainbowText.astro";
---

<Layout title="RAINBOW`s Blog">
  <div class="container standard-dialog p-4 mr-4">
    <div class="header">
      <div class="text-5xl heading text-center mt-2">RAINBOW`s Blog</div>
      <p class="desc text-3xl Geneva_9 text-center mt-2">
        A blog designed with <a href="https://sakofchit.github.io/system.css">system.css</a> for a retro{" "}
        <span role="img" class="apple" aria-label="Apple"></span>-looking style.
      </p>
    </div>
    <div class="content mt-8">
      <div class="text">
        <h1 class="text-xl p-4">Greeting!</h1>
        <blockquote class="text-center">
          Quidquid latine dictum sit, altum sonatur.
          <footer>— I forgot where i find this quote but I use it, R. flesh</footer>
        </blockquote>
      </div>
      <div class="content px-4">
        <span>Welcome to my </span>
        <span class="text-2xl RainbowFleshNBP">blog</span>
        <p>I create this blog for record my work and life,</p>
        <p>And sharding interesting stuff for ya.</p>
        <p class="mt-4 mb-8">
          <a href="https://github.com/rainbowflesh/rainbowflesh.github.io">Blog repo</a>
        </p>
      </div>
      <RainbowText />
    </div>
    <div class="footer m-auto justify-center flex">
      <a class="icp italic" href="https://icp.gov.moe/?keyword=20230429" target="_blank"> 萌ICP备20230429号 </a>
    </div>
  </div>
</Layout>

<script>
  document.addEventListener("astro:before-swap", (event) => {
    event.newDocument.documentElement.dataset.theme = localStorage.getItem("darkMode") ? "dark" : "light";
  });
</script>
