@font-face {
  font-family: Geneva9;
  src: url("fonts/FindersKeepers.ttf");
}

@font-face {
  font-family: Chicago_12;
  src: url("fonts/ChiKareGo2.ttf");
}
blockquote {
  font-size: 14px;
  text-align: left;
}

#root {
  --base-color: #faf4ed;
  --surface-color: #fffaf3;
  --overlay-color: #f2e9e1;
  --love-color: #b4637a;
  --rose-color: #d7827e;
  --foam-color: #56949f;
  --highligh-low-color: #f4ede8;
  --highligh-med-color: #dfdad9;
  --highligh-high-color: #cecacd;
}

/* Rose Pine */
/* Muted */
.hljs-comment {
  color: #9893a5;
}

/* Subtle */
.hljs-quote,
.hljs-symbol {
  color: #797593;
}

/* Text */
.hljs-variable {
  color: #575279;
}
.hljs-template-variable {
}
.hljs-tag {
}
.hljs-name {
}
.hljs-selector-id {
}
.hljs-selector-class {
}
.hljs-regexp {
}
.hljs-deletion {
}
.hljs-number {
}
.hljs-built_in {
}
.hljs-builtin-name {
}
.hljs-literal {
}
.hljs-type {
}
.hljs-params {
}
.hljs-meta {
}
.hljs-link {
}
.hljs-attribute {
}
/* gold */
.hljs-string {
  color: #ea9d34;
}

.hljs-bullet {
}
.hljs-addition {
}
/* iris */
.hljs-title {
  color: #907aa9;
}
.hljs-section {
}
.hljs-selector-tag {
}
.hljs-keyword {
  color: #286983;
}
.hljs {
  display: block;
  overflow-x: auto;
  color: #907aa9;
  padding: 0.5em;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
